@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'Futura LT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Regular'), url('FuturaLT.woff') format('woff');
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
           background-color: #F2EEF0;
           font-size: 100%;
        }

        /*menu*/
.cabecalho {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: #087285;
    padding: 10px;
    width: 100%;
    height: 80px;
}
.imgtexto{
    width: 10%;
    height: 50px;
    margin-left: 20px;
    margin-right: 600px;
}

.a-menu {
    display: flex;
    font: 1.2rem 'Anton', sans-serif;
    text-decoration: none;
    line-height: 45px;
    text-align: center;
    padding: 30px;
}

/* cor para quando o link for clicado */
.a-menu:visited,
.a-menu:link {
    color: #FFF;
}

/* cor para quando passar o mouse sobre o link */
.a-menu:hover,
.a-menu:active {
    color: #EA6F07;
}

hr{
    border-color: #EA6F07;
}

/*banner*/

header img{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

/*Calendário*/

.calendario{
    background-color: #fff;
    box-shadow: 0 4px 8px #CCC;
    transition: 0.1s;
    padding: 20px;
    border-radius: 8px;
    border: none;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.calendario td,th{
    border-right: none;
    border-bottom: none;
}

.calendario:hover {
    box-shadow: 0 8px 16px #CCC;

}

.mes-ano, .setas{
    display: inline-block;
}

.mes-ano{
    margin-right: 40%;
    font: 1.0rem 'Futura LT Regular', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
.nome-mes, .nome-mes th{

    background-color: #FFF;
    font: 0.8rem 'Futura LT Regular', sans-serif;
    font-weight: bold;
    border: none;
}
.dias td{
    padding: 20px;
    font-size: 10px;
}

.disponivel{
    background-color: #61E831;
    border-radius: 50%;
    box-sizing: content-box;
}

.ocupado{
    background-color: #FB3F4A;
    border-radius: 50%;
}

.inativo{
    background-color: #A3A3A3;
    border-radius: 50%;
}

/*H2*/

h2{
    color: #FFFFFF;
    background-color: #EA6F07;
    border-radius: 7px;
    font-family: 'Futura LT Regular', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}



/*eventos*/

#eventos{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #F1F1F1;
    margin: 15px;
    width: 20%;
    height: auto;
    border-radius: 7px;
    box-shadow: 0 4px 8px #CCC;
    transition: 0.1s;
    justify-content: center;
    
}

.card-content{
    margin: 20px;
    padding: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px #CCC;

}

#eventos img{
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    
}
h3{
    font: 1rem 'Futura LT', cursive;
    color: #EA6F07;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#eventos h3{
    text-align: center;
    background-color: #EA6F07;
    color: #ffff;
    border-radius: 7px;
    width: auto;
    cursor: pointer;
}

/*turmas*/

.turmas{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

section details summary{
    font: 1.5rem 'Futura LT', cursive;
    background-color: #D9D9D9;
    padding: 2%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/*tabela*/

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    background-color: #D9D9D9; 
    
  }

  th{
    font: 1.5rem 'Futura LT', cursive;
  }
  td{
    font: 0.9rem 'Futura LT';
    color: #747373;
  }
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #8C8585; 
    border-right: 1px solid #8C8585; /
  }

  th:last-child, td:last-child {
    border-right: none; /* Remova a borda à direita para a última célula de cada linha */
  }

  tr:last-child th, tr:last-child td {
    border-bottom: none; /* Remova a borda inferior para a última linha */
  }
/*FORMULÁRIO*/
.container{
    justify-content: center;
}
.btn-container{
    text-align: center;
}

.container h2{
    text-align: center;
    width: 450px;
    margin-left: 165px;
    margin-top: 80px;
    margin: auto;
    margin-top: 30px;
}

.form-box {
    background-color: #087285;
    padding: 60px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    margin-top: 30px;
}

.container h2 {
    background-color: #087285;
    color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 8px 5px 5px #a1a1a1;
}

label{
    font: 1.4rem 'Futura LT', cursive;
    color: #ffff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    font: 0.9rem 'Futura LT', cursive;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border:0;
    box-sizing: border-box;
    
}

select {  font: 0.9rem 'Futura LT';
    color: #747373;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    color: #FFF;
    background-color: #EA6F07;
    text-align: center;
    width: 120px;
    margin-bottom: 20px;
    
}
input[type="reset"]{
    margin-left: 40px;
}


    footer{
        background-color:#087285;
        text-align: center;
        padding: 20px;
        font: 1.2rem 'Futura LT', sans-serif;
        color: #eeede7;
        margin-top: 30px;
    }
    .fot{
        font-weight: bold;
        font: 1.2rem 'Futura LT', sans-serif;
        text-decoration: none;
    }
    
    .fot:link, .fot:visited{
        color:#FFF;
    }
    
    .fot:hover, .fot:active{
        color:#EA6F07;
    }

.img-logo{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 20px 150px 0 160px;
    width: 150px;
    height: 50px;
}
/*Botão Whatsapp*/
#bt-wpp{
    width: 70px;
    height: 70px;
    background-color: #61E831;
    border-radius: 35px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0 2px 4px #747373;
    transition: 0.1s;
}

#bt-wpp:hover{
    box-shadow: 0 4px 8px #8C8585;
}
.wpp{
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 42px;
    right: 42px;
}